body {
        background-color: black; /*#d9d9d9;*/
        margin-top: 0;
        margin-left: 0;
      }
ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: white;
        position: fixed;
        top: 0;
        width: 100%;
}
li {
    float: left;
}
li a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}
li a:hover {
        background-color : lightgray;
      }
#mainText {
        font-family: "Courier New";
        font-size: 100px;
        color: #EAF7FB;
      }
#subText {
        font-family: "Courier New";
        font-size: 50px;
        color: #EAF7FB
      }
.textChunckQOS {
         height: 200px;
         background-color: #EAF7FB;
         margin-bottom: -25px;
         color: black;
     }
.textChunckBOX {
         height: 200px;
         background-color: #d9d9d9;
         color: black;
         margin-bottom: -25px;
     }
.textChunckQGR {
         height: 200px;
         background-color: #EAF7FB;
         margin-bottom: -25px;
         color: black;
}
