body {
    background-color: lightgrey;
}
h1 {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 100px;
}
p {
    text-indent: 50px;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 50px;
}
ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: black;
        position: fixed;
        top: 0;
        width: 100%;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
}
      li a:hover {
        background-color : green;
      }
